<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <a href="/" > <!--Redirect til frontpage når man trykker på Logoet -->
        <img src="IMG/Logoo.PNG" alt="Logo not shown" class="logo">
        <title></title>

        <link rel="stylesheet" type="text/css" href="CSS/style.css">
    </a>
</head>
<body>

<div class="BasicTable">
    <table style="width: 12%">
        <tr>
            <th><br>Create employee<br><br></th>
        </tr>

        <tr>
            <td>

<form action="/CreateEmployee" method="post">
    <br>
    <label>First name</label>
    <br>
    <input type="text" name="first_name">
    <br><br>
    <label>Last name</label>
    <br>
    <input type="text" name="last_name">
    <br><br>
    <label>Email</label>
    <br>
    <input type="text" name="email">
    <br><br>
    <label>Profession </label>
    <br>
    <input type="text" name="profession">
    <br><br>
    <label>Password</label>
    <br>
    <input type="text" name="password_emp">
    <br><br>
    <div id="address" th:object="${Address}">
        <label>Address</label>
        <br>
        <input type="text" name="address_1">
        <br><br>
        <label>Phone</label>
        <br>
        <input type="number" name="phone">
        <br><br>
        <label>Zip code</label>
        <br>
        <input type="number" name="zip_code">
        <br><br>
    </div>
    <label>Choose office to assign<br>
        employee to?
        <br>
        <select name="rentalOffice-id">
            <option th:each="rentalOffice: ${rentalOffices}" th:value="${rentalOffice.rental_office_id}" th:text="${rentalOffice.rental_office_id}"/>
        </select>
        <br><br>
    </label>


    <input style="background-color: lightgrey" type="submit" value="Create employee">
    <br><br>

    </div>

</form>


</body>
</html>