<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <a href="/" > <!--Redirect til frontpage når man trykker på Logoet -->
        <img src="IMG/Logoo.PNG" alt="Logo not shown" class="logo">
        <title></title>

        <link rel="stylesheet" type="text/css" href="CSS/style.css">
    </a>
</head>
<body>

<div class="BasicTable">
    <table style="width: 12%;">
        <tr>
            <th><br>Add motorhome<br><br></th>
        </tr>
        <tr>
            <td>

<form action="/CreateMotorhome" th:action="@{/CreateMotorhome}" th:object="${motorhome}" method="post">
    <div th:if="${#fields.hasAnyErrors()}">
        <p style="color:red" th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
    </div>
    <br>
    <label>Brand name</label>
    <br>
    <input type="text" name="brand" th:field="*{brand}">
    <br><br>
    <label>Model name</label>
    <br>
    <input type="text" name="model" th:field="*{model}">
    <br><br>
    <label>KM Driven</label>
    <br>
    <input type="text" name="odometer" th:field="*{odometer}">
    <br><br>
    <label>Seats </label>
    <br>
    <input type="number" name="seats" th:field="*{seats}">
    <br><br>
    <label>beds </label>
    <br>
    <input type="number" name="beds" th:field="*{beds}">
    <br><br>
    <label>Fuel type</label>
    <br>
    <input type="text" name="fuel" th:field="*{fuel}">
    <br><br>
    <label>Price per day</label>
    <br>
    <input type="number" name="price_per_day" th:field="*{price_per_day}">
    <br>
        <div id="size" th:object="${size}">
            <br>
            <label> Length of the vehicle
                <br>
                <input type="number" name="length">
                <br> <br>
            </label>
            <label> Height of the vehicle
                <br>
                <input type="number" name="height">
                <br> <br>
            </label>
            <label> Weight of the vehicle
                <br>
                <input type="number" name="weight">
            </label>

        </div>
    <br><br>

    <input style="background-color: lightgrey" type="submit" value="Create new Motorhome">
    <br><br>

    </form>

            </td>
        </tr>
    </table>

</div>

</body>
</html>