<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <a href="/" > <!--Redirect til frontpage når man trykker på Logoet -->
        <img src="IMG/Logoo.PNG" alt="Logo not shown" class="logo">
        <title></title>

        <link rel="stylesheet" type="text/css" href="CSS/style.css">
    </a>
</head>
<body>
<div class="BasicTable">
    <table style="width: 80%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Reservation ID</th>
            <th>Rental office ID</th>
            <th>Billing date</th>
            <th>Completed</th>
            <th>Odometer count</th>
            <th>Extra repair</th>
            <th>Fuel tank</th>
            <th>Droppoint</th>
            <th>Total price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="endedreservation: ${endedreservations}">
            <td th:text="${endedreservation.endedReservation_id}" />
            <td th:text="${endedreservation.reservation_id}" />
            <td th:text="${endedreservation.rental_office_id}" />
            <td th:text="${endedreservation.billing_date}" />
            <td th:text="${endedreservation.completed}" />
            <td th:text="${endedreservation.km_driven}" />
            <td th:text="${endedreservation.extra_repair}" />
            <td th:text="${endedreservation.fuel_tank}" />
            <td th:text="${endedreservation.droppoint}" />
            <td th:text="${endedreservation.total_price}" />
                <br>
            </td>
        </tr>
        </tbody>
    </table>
</div>



</body>
</html>