/* Regler for vores logo */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* baggrunds farven og skrift type på gui */
body{
    background-color: #92d050;
    font-family: "Lato", sans-serif;
}
body, html {
    height: 100%;
    margin: 0;
}
.logOut button{
    background-color: #3f5038;
    border: none;
    padding: 15px 20px;
    color: white;
    font-size: 18px;
}

/* til alle basic tables - */
.BasicTable{
    display:flex;
    flex-direction: row;
    height: auto;
    margin-left: 15px;

}
/* til alle basic tables - */
.BasicTable input{
    background-color: #fffffffa;
    border: none;
    padding: 5px 10px;
    margin-left: 15px;
}
/* til alle basic tables - */
.BasicTable table, th, td{
    background-color: #a5a5a5;;
    border: 1px solid #555;
    margin-left: 5px;

}
/* til alle basic tables - */
.BasicTable button, select{
    background-color: white;
    margin-left: 5px;
}

/* Regler for Side menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
/* Regler for samtlige fields i side menuen. About, rentals etc.*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* Farven på Side menu når man hover over den (hvid)*/
.sidenav a:hover {
    color: #f1f1f1;
}
/* Regler for lukke knappen af Side menu (x)*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    color: #818181;
    font-size: 36px;
    margin-left: 5px;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Ændrer udseende af tabcontent og ændrer størrelse til 100% for at tilpasse forskellige skærmstørrelser */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

/* Ændrer udseendet af sidenav a og dropwodn button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* Farven når musen kører over et menufelt */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

/* Ændrer i udseendet af dropdown undermenuen */
.active {
    background-color: green;
    color: white;
}

/* Dropdown containeren til vores undermenu */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}



