<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <a href="/" > <!--Redirect til frontpage når man trykker på Logoet -->
        <img src="IMG/Logoo.PNG" alt="Logo not shown" class="logo">
        <title></title>

        <link rel="stylesheet" type="text/css" href="CSS/style.css">
    </a>
</head>
<body>

<div class="BasicTable">
    <table style="width: 80%">
        <tr>
            <th><br>Motorhomes<br><br></th>
        </tr>
        <tr>
            <td>

<table style="width: 99%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Odometer</th>
        <th>Seats</th>
        <th>Beds</th>
        <th>Fuel</th>
        <th>Price per day</th>
        <th>Size ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="motorhome: ${motorHomes}">
        <td th:text="${motorhome.motorHome_id}" />
        <td th:text="${motorhome.brand}" />
        <td th:text="${motorhome.model}" />
        <td th:text="${motorhome.odometer}" />
        <td th:text="${motorhome.seats}" />
        <td th:text="${motorhome.beds}" />
        <td th:text="${motorhome.fuel}" />
        <td th:text="${motorhome.price_per_day}" />
        <td th:text="${motorhome.size_id}" />
    </tr>
    </tbody>
</table>
<br>
<h1></h1>
<form action="/UpdateMotorhome2" method="get">
    <label> Which of our motorhomes do you want to update?
        <select name="update-id">
            <option th:each="motorhome: ${motorHomes}" th:value="${motorhome.motorHome_id}" th:text="${motorhome.motorHome_id}"/>
        </select>
    </label>
    <button type="submit">Update</button>
</form>
                <br><br>

            </td>
        </tr>
    </table>
</div>

</body>
</html>