<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <a href="/" > <!--Redirect til frontpage når man trykker på Logoet -->
        <img src="IMG/Logoo.PNG" alt="Logo not shown" class="logo">
        <title></title>

        <link rel="stylesheet" type="text/css" href="CSS/style.css">
    </a>
</head>
<body>
<div class="BasicTable">
    <table style="width: 80%">
        <tr>
            <th><br>Customers<br><br></th>
        </tr>
        <tr>
            <td>

<table style="width: 99%">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Creation date</th>
        <th>Address ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.customer_id}" />
        <td th:text="${customer.first_name}" />
        <td th:text="${customer.last_name}" />
        <td th:text="${customer.email}" />
        <td th:text="${customer.create_date}" />
        <td th:text="${customer.address_id}" />
    </tr>
    </tbody>
</table>
<br>
<h1></h1>
<form action="/UpdateCustomer2" method="get">
    <label> Which of our customers do you want to update?
        <select name="update-id">
            <option th:each="customer: ${customers}" th:value="${customer.customer_id}" th:text="${customer.customer_id}"/>
        </select>
    </label>
    <button type="submit">Update</button>
</form>
                <br><br>

            </td>
        </tr>
    </table>

</div>

</body>
</html>