<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <a href="/" > <!--Redirect til frontpage når man trykker på Logoet -->
        <img src="IMG/Logoo.PNG" alt="Logo not shown" class="logo">
        <title></title>

        <link rel="stylesheet" type="text/css" href="CSS/style.css">
    </a>
</head>
<body>
<div class="BasicTable">
<table style="width: 12%">
    <tr>
        <th><br>Update customer<br><br></th>
    </tr>

    <tr>
    <td>
    <form action="/UpdateCustomer2" th:object="${Customer}" method="post">
        <br>
        <label>ID</label>
        <br>
        <input readonly name="customer_id"th:value="${customers.customer_id}">
        <br><br>
        <label>Create date</label>
        <br>
        <input readonly name="create_date" th:value="${customers.create_date}">
        <br><br>
        <label>First name</label>
        <br>
        <input type="text" name="first_name" th:value="${customers.first_name}">
        <br><br>
        <label>Last name</label>
        <br>
        <input type="text" name="last_name" th:value="${customers.last_name}">
        <br><br>
        <label>Email</label>
        <br>
        <input type="text" name="email" th:value="${customers.email}">
        <br><br>
        <label>Address ID</label>
        <br>
        <input readonly name="address_id" th:value="${customers.address_id}">
        <br><br>
        <div id="address" th:object="${Address}">
            <label>Address</label>
            <br>
            <input type="text" name="address_1" th:value="${address.address_1}">
            <br><br>
            <label>Phone</label>
            <br>
            <input type="number" name="phone" th:value="${address.phone}">
            <br><br>
            <label>Zip code</label>
            <br>
            <input type="number" name="zip_code" th:value="${address.zip_code}">
            <br><br>
        </div>

        <input type="submit" value="Save changes">
        <br><br>
    </form>

    </td>
</tr>

</table>

</div>

</body>
</html>