<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <a href="/" > <!--Redirect til frontpage når man trykker på Logoet -->
        <img src="IMG/Logoo.PNG" alt="Logo not shown" class="logo">
        <title></title>

        <link rel="stylesheet" type="text/css" href="CSS/style.css">
    </a>
</head>

<body>

<div class="BasicTable">
<table style="width: 12%">

    <tr>
        <th><br>Edit Employee<br><br></th>
    </tr>
    <tr>
        <td>

    <form action="/UpdateEmployee2" th:object="${Employee}" method="post">
        <br>
        <label>ID</label>
        <br>
        <input readonly name="employee_id"th:value="${employees.employee_id}">
        <br><br>
        <label>First name</label>
        <br>
        <input type="text" name="first_name" th:value="${employees.first_name}">
        <br><br>
        <label>Last name</label>
        <br>
        <input type="text" name="last_name" th:value="${employees.last_name}">
        <br><br>
        <label>Email</label>
        <br>
        <input type="text" name="email" th:value="${employees.email}">
        <br><br>
        <label> Profession </label>
        <br>
        <input readonly name="profession" th:value="${employees.profession}"/>
        <br><br>
        <label>Address ID</label>
        <br>
        <input readonly name="address_id" th:value="${employees.address_id}">
        <br><br>
        <label> Rental office ID</label>
        <br>
        <input readonly name="rental_office_id" th:value="${employees.rental_office_id}">
        <br><br>
        <label> Password</label>
        <br>
        <input type="password_emp" th:value="${employees.password_emp}">
        <br><br>

        <div id="address" th:object="${Address}">
            <label>Address</label>
            <br>
            <input type="text" name="address_1" th:value="${address.address_1}">
            <br><br>
            <label>Phone</label>
            <br>
            <input type="number" name="phone" th:value="${address.phone}">
            <br><br>
            <label>Zip code</label>
            <br>
            <input type="number" name="zip_code" th:value="${address.zip_code}">
            <br><br>
        </div>

        <input type="submit" value="Save changes">
        <br><br>
    </form>

        </td>
    </tr>
</table>

</div>
</body>
</html>