<head>
    <meta charset="UTF-8">
    <a href="/" > <!--Redirect til frontpage når man trykker på Logoet -->
        <img src="IMG/Logoo.PNG" alt="Logo not shown" class="logo">
        <title></title>

        <link rel="stylesheet" type="text/css" href="CSS/style.css">
    </a>
</head>
<body>

<marquee behavior="scroll" bgcolor="#92d050" loop="-1" width="100%">
    <i>
        <font color="black">
            Today's date is :
            <strong>
                <span id="time"></span>
            </strong>
        </font>
    </i>
</marquee>

<script>
    var today = new Date();  //Stjålet fra nettet
    document.getElementById('time').innerHTML=today;
</script>

<form action="/Logout" method="post" class="logOut">
    <a href="/">
        <button type="submit">Logout</button>
    </a>
</form>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
    <a href="/About">About</a>

    <button class="dropdown-btn">Customers</button>
    <div class="dropdown-container">
        <a href="/CreateCustomer">Add new customer</a>
        <a href="/DeleteCustomer">Delete customer</a>
        <a href="/UpdateCustomer">Update customer</a>
    </div>

    <button class="dropdown-btn" style="display:none" id="EmployeeNAV">Employees</button>
    <div class="dropdown-container" style="display: none" id="EmployeeNAVDROP">
        <a href="/CreateEmployee">Add new employee</a>
        <a href="/DeleteEmployee">Delete employee</a>
        <a href="/UpdateEmployee">Update employee</a>
    </div>

    <button class="dropdown-btn" style="display:none" id="RentalNAV">Rental Offices</button>
    <div class="dropdown-container" style="display: none" id="RentalNAVDROP">
        <a href="/CreateRentalOffice">Add new Rental Office</a>
        <a href="/DeleteRentalOffice">Delete a Rental Office</a>
    </div>

    <button class="dropdown-btn">Motorhomes</button>
    <div class="dropdown-container">
        <a href="/CreateMotorhome">Add motorhome</a>
        <a href="/DeleteMotorhome">Delete motorhome</a>
        <a href="/UpdateMotorhome">Update motorhome</a>
    </div>
    
    <button class="dropdown-btn">Reservations</button>
    <div class="dropdown-container">
        <a href="/ReserveMotorhome">Make reservation</a>
        <a href="/ViewReservation">View current reservations</a>
        <a href="/ViewPastReservations">View past reservations</a>
    </div>

</div>

<h2>Welcome</h2>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

<script>
    function openNav() {
        MasterEmployee = [[${MasterEmployee}]];
        console.log(MasterEmployee);
        document.getElementById("mySidenav").style.width = "250px";
        if (MasterEmployee === 9) {
            document.getElementById("EmployeeNAV").style.display = "block";

            if (MasterEmployee === 9) {
                document.getElementById("EmployeeNAV").style.display = "block";
                document.getElementById("RentalNAV").style.display = "block";
            }

        }
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>


</body>
</html>